{% extends 'base.html.twig' %}

{% block title %}Bibliometr{% endblock %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}



{% block body %}
<center>
    {% block search %}
        
        
            {{ render(controller(
                'App\\Controller\\SearchController::searchBar'
            )) }}
        
        
    {% endblock %}

    {% block exp %}

        <div class="art "> 
            {{ render(controller(
                'App\\Controller\\Test2Controller::list'
                ,{'page' : 1}    
            )) }}
           
        </div>

    {% endblock %}

    {# {% block exp %}
        {% include 'article\\list.html.twig' with {'1': '2'} %}
    {% endblock %} #}

    <br><br>
        <button clas = "but"><a href="{{ "http://localhost:8000/contact" }}" >{{ "Contact" }}</a></button>
    {% if is_granted('ROLE_USER') %}
        <button><a href="{{ "http://localhost:8000/article" }}" >{{ "Add article" }}</a></button>
        <button><a href="{{ path('app_logout') }}">Logout</a></button>
    {% else %}
        <button clas = "but"><a href="{{ "http://localhost:8000/register" }}" >{{ "Register" }}</a></button>
        <button clas = "but"><a href="{{ "http://localhost:8000/login" }}" >{{ "Login" }}</a></button>
    {% endif %}
    
{% endblock %}


