{% extends 'base.html.twig' %}

{% block title %}Hello result!{% endblock %}

{% block body %}

    <table border="solid black">
    <tbody style="text-align:center">
        <tr>
            <th>Id</th><th>Title</th><th>Author</th><th>Participation</th><th>Contributors</th><th>participations Contributors</th>
            <th>Ministerial Points</th><th>Journal</th><th>Conference</th><th>Doi</th><th>Date</th>

        </tr>
        {% for article in article %}
        <tr>
            
            
            
            <td>{{ article.id }}</td><td>{{ article.title }}</td><td>{{ article.author }}</td><td>{{ article.participation}}</td><td>{{ article.contributors}}</td>
            <td>{{ article.participationsContributors}}</td><td>{{ article.ministerialPoints}}</td><td>{{ article.journal}}</td><td>{{ article.conference}}</td>
            <td>{{ article.doi}}</td><td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}