{% extends 'base.html.twig' %}

{% block body %}
    {% if article is defined and article|length %}

        <div class="nav text-center">
            {{ knp_pagination_render(article) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(article, 'id'|trans, 't.id') }}<input type="checkbox" name='id' /></th>
                <th>{{ knp_pagination_sortable(article, 'title'|trans, 't.title') }}<input type="checkbox" name='title' /></th>
                <th>{{ knp_pagination_sortable(article, 'participation'|trans, 't.participation') }}<input type="checkbox" name='participation' /></th>
                <th>{{ knp_pagination_sortable(article, 'contributors'|trans, 't.contributors') }}<input type="checkbox" name='contributors' /></th>
                <th>{{ knp_pagination_sortable(article, 'participations contributors'|trans, 't.participationsContributors') }}<input type="checkbox" name='participationsContributors' /></th>
                <th>{{ knp_pagination_sortable(article, 'ministerial points'|trans, 't.ministerialPoints') }}<input type="checkbox" name='ministerialPoints' /></th>
                <th>{{ knp_pagination_sortable(article, 'journal'|trans, 't.journal') }}<input type="checkbox" name='journal' /></th>
                <th>{{ knp_pagination_sortable(article, 'conference'|trans, 't.conference') }}<input type="checkbox" name='conference' /></th>
                <th>{{ knp_pagination_sortable(article, 'doi'|trans, 't.doi') }}<input type="checkbox" name="doi" /></th>
                <th>{{ knp_pagination_sortable(article, 'date'|trans, 't.date') }}<input type="checkbox" name="date" /></th>
            </tr>
            </thead>
            <tbody>
            {% for article in article %}
                <tr>
                    
                    <td><input type="checkbox" name='row_{{article.id}}' />{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.participation}}</td>
                    <td>{{ article.contributors}}</td>
                    <td>{{ article.participationsContributors}}</td>
                    <td>{{ article.ministerialPoints}}</td>
                    <td>{{ article.journal}}</td>
                    <td>{{ article.conference}}</td>
                    <td>{{ article.doi}}</td>
                    <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="nav text-center">
            {{ knp_pagination_render(article) }}
        </div>

    {% else %}
        <p>
            {{ 'empty_list'|trans }}
        </p>
    {% endif %}

    <form method="post" action="{{ path('article_export') }}" onsubmit="return confirm('Are you sure?');">
   
    <input type = "submit" name="submit_docs"  value="Export" class="input-button"/> 
    </from>

{% endblock %}