{% extends 'base.html.twig' %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}
    {% if article is defined and article|length %}

        {# <div class="nav text-center">
            {{ knp_pagination_render(article) }}
        </div> #}
        <form action="{{ path('article_export') }}" method="POST">
        <table class="table table-striped">
            <thead >
            <tr>
                <th>{{ knp_pagination_sortable(article, 'id'|trans, 'a.id') }}<input type="checkbox" name='id' value='id'  /></th>
                <th>{{ knp_pagination_sortable(article, 'title'|trans, 'a.title') }}<input type="checkbox" name='title'  value='title'/></th>
                <th>{{ knp_pagination_sortable(article, 'author'|trans, 'a.title') }}<input type="checkbox" name='author'  value='author'/></th>
                <th>{{ knp_pagination_sortable(article, 'participation'|trans, 'a.participation') }}<input type="checkbox" name='participation'  value='par.'/></th>
                <th>{{ knp_pagination_sortable(article, 'contributors'|trans, 'a.contributors') }}<input type="checkbox" name='contributors'  value='contributors'/></th>
                <th>{{ knp_pagination_sortable(article, 'participations contributors'|trans, 'a.participationsContributors') }}<input type="checkbox" name='participationsContributors' value='participationsContributors'/></th>
                <th>{{ knp_pagination_sortable(article, 'ministerial points'|trans, 'a.ministerialPoints') }}<input type="checkbox" name='ministerialPoints' value='ministerialPoints'/></th>
                <th>{{ knp_pagination_sortable(article, 'journal'|trans, 'a.journal') }}<input type="checkbox" name='journal' value='journal'/></th>
                <th>{{ knp_pagination_sortable(article, 'conference'|trans, 'a.conference') }}<input type="checkbox" name='conference' value='conference'/></th>
                <th>{{ knp_pagination_sortable(article, 'doi'|trans, 'a.doi') }}<input type="checkbox" name='doi' value="doi"/></th>
                <th>{{ knp_pagination_sortable(article, 'date'|trans, 'a.date') }}<input type="checkbox" name='date' value="date" /></th>
            </tr>
            </thead>
            <tbody>
            {% for article in article %}
                <tr>
                    
                    <td><input type="checkbox" name='row_{{article.id}}'/>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    
                    <td>{{ article.author }}</td>
                    <td>{{ article.participation}}</td>
                    <td>{{ article.contributors}}</td>
                    <td>{{ article.participationsContributors}}</td>
                    <td>{{ article.ministerialPoints}}</td>
                    <td>{{ article.journal}}</td>
                    <td>{{ article.conference}}</td>
                    <td>{{ article.doi}}</td>
                    <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
                        {% if is_granted('ROLE_USER') %}
                            {% if  app.user.username == 'admin' %}
                                <td><button><a href="{{ path('article_delete', {'id': article.id}) }}">delete</a></button></td>
                            {% endif %}
                        {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    
                        {% if  app.user.username == article[12]  %}
                            <td><button><a href="{{ path('article_edit', {'id': article.id}) }}">edit</a></button></td>
                        {% endif %}
                   
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="nav text-center">
            {# {{ knp_pagination_render(article) }} #}
            <a href="{{ "http://localhost:8000/" }}" >{{ "1" }}</a>
            <a href="{{ "http://localhost:8000/list/2" }}" >{{ "2" }}</a>
        </div>
            <br>
    {% else %}
        <p>
            {{ 'empty_list'|trans }}
        </p>
    {% endif %}

    {# <form method="post" action="{{ path('article_export') }}" onsubmit="return confirm('Are you sure?');">
    #}
    <input type = "submit" name="submit_docs"  value="Export" class="input-button"/> 
    
    {# </from> #}


{% endblock %}